.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7831a3;
  padding: 0.3rem 2rem;
  height: 10vh;
}

.footer span {
  font-family: "Denk One", sans-serif;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 550px) {
  .footer {
    flex-direction: column;
  }
  .footer span {
    text-align: center;
  }
}
