.dog-table {
  grid-area: dog-table;
  background: #efeff1;
  padding: 2rem 1rem;
}
.table-container {
  background: #fff;
  padding: 1rem 1rem;
  border-radius: 8px;
}
@media only screen and (max-width: 900px) {
  .dog-table {
    padding: 2rem 0rem;
  }
  .table-container {
    padding: 1rem 0rem;
  }
  .info-dog {
    text-align: center;
  }
}
