.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container-info {
  display: flex;
  padding: 2rem 1rem;
  width: 60%;
  background: #fff;
  border-radius: 8px;
  margin-top: 1rem;
}
.info-imagen {
  width: 475px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.dog-info {
  width: 60%;
}
.dog-info span {
  display: block;
}
.dog-breed-name {
  color: #7831a3;
  font-size: 25px;
  font-weight: 600;
  font-family: "Denk One", sans-serif;
}
.dog-origin {
  font-size: 12px;
  font-weight: 600;
  color: #888888;
  padding-bottom: 1rem;
}
.dog-tags {
  color: #7831a3;
  font-size: 17px;
  font-weight: 700;
}
.dog-breed-info {
  font-family: "Podkova", serif;
  font-weight: 600;
  font-size: 15px;
  color: #404040;
}
.dog-img {
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 900px) {
  .container-info {
    flex-direction: column;
    width: 90%;
    padding: 1rem;
  }
  .dog-info {
    width: 100%;
    text-align: center;
  }
  .info-imagen {
    width: 100%;
    padding: 0;
  }
}
